<div class="jumbotron">
    <div class="container">
        {{#if user}}
        <h1 class="display-4">What do you need to know?</h1>
        {{else}}
        <h1 class="display-4">QUESTION EVERYTHING<br>ANSWER EVERYTHING</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        {{/if}}
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/questions/add" role="button">Ask your question</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {{#each questions}}

            <div class="card">
                <div class="card-body">
                    <small>by <b><a href="/users/profile/{{askedBy.id}}">{{askedBy.name}}</a> . {{subject}} . {{points}} pts</b></small>
                    <p class="lead"><a href="/answers/{{id}}" class="fc-default">{{question}}</a></p>
                    {{#if isAnswered}}
                        {{else}}
                        <div class="text-right">
                            <a href="/answers/{{id}}" class="btn btn-primary">Answer</a>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>